
domain/cinema.py
domain/classesDiagram.drawio.svg
domain/__init__.py
__pycache__/app.cpython-310.pyc
__pycache__/app.cpython-311.pyc
domain/cinemaGUI.py
domain/movie.py
domain/user.py
model.py
model.py
model.py
models/__pycache__/movieModel.cpython-310.pyc
models/__pycache__/__init__.cpython-310.pyc
models/__pycache__/userModel.cpython-310.pyc
*.pyc

/node_modules
