
{% extends 'base.html' %}

{% block title %}My bookings{% endblock %}

{% block content %}


<div class="container mx-auto mt-20 p-6 bg-white rounded shadow-md">
    <h2 class="text-2xl mb-4">Add a New Screening</h2>

    <form action="{{ url_for('movies.addScreening', movieId = movieId) }}" method="post" class="space-y-4">
        
        <!-- Screening Date -->
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="screeningDate">
                Screening Date
            </label>
            <input name="screeningDate" id="screeningDate" type="date" required class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
        </div>

        <!-- Start Time -->
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="startTime">
                Start Time
            </label>
            <input name="startTime" id="startTime" type="time" min="00:00" max="23:59" required class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
        </div>

        <!-- End Time -->
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="endTime">
                End Time
            </label>
            <input name="endTime" id="endTime" type="time" min="00:00" max="23:59" required class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
        </div>

        <!-- Hall ID -->
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="hallId">
                Hall ID
            </label>
            <input name="hallId" id="hallId" type="number" required class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add Screening
        </button>
    </form>
</div>

{% endblock %}