<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="/static/output.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 h-screen">

  <!-- The content of pages.-->
  <header>
    {% block header %}{% endblock %}
  </header>

  <!-- Navbar -->
  <nav class="bg-primary p-4 text-white font-poppins">
    <div class="container mx-auto">
        <div class="flex justify-between items-center">
            <a href="/" class="text-3xl font-bold">Lincoln Cinema</a>
            <div class="space-x-4">
                <a href="{{ url_for('movies.showMovies')}}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">Movies</a>

                {% if session['userId'] %}
                    {% if session['userType'] == 'customer' %}
                        <a href="{{ url_for('movies.viewBookings')}}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">My bookings</a>

                        <!-- Notification icon with potential red dot for unread notifications -->
                        <div class="relative inline-block mr-3" id="notification-icon">
                            <i class="fas fa-envelope text-xl cursor-pointer px-2"></i>
                            <div id="notification-dropdown" class="absolute right-0 mt-2 w-64 bg-white rounded shadow-md hidden z-50">
                                <ul class="py-2 text-black" id="notification-list"></ul>
                            </div>
                            {% if has_unread_notifications %}
                                <span class="absolute top-0 right-0 w-3 h-3 bg-red-500 rounded-full border-2 border-white"></span>
                            {% endif %}
                        </div>

                    {% elif session['userType'] == 'staff' %}
                        <a href="{{ url_for('movies.viewBookings') }}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">All bookings</a>

                    {% elif session['userType'] == 'admin' %}
                        <a href="{{ url_for('movies.addMovie') }}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">Add a movie</a>
                        <a href="{{ url_for('movies.cancelMovie') }}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">Cancel a movie</a>
                    {% endif %}
                    
                    <!-- <i class="fas fa-user text-xl"></i> -->
                    <a href="{{ url_for('auth.logout') }}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">Login</a>
                    <a href="{{ url_for('auth.signup') }}" class="hover:bg-gray-600 hover:bg-opacity-50 px-3 py-2 rounded transition">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>


<!-- Flashed Messages -->
{% if not hide_flash_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mx-auto mt-4">
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md" role="alert">
            {% elif category == 'error' %}
                <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
            {% else %}
                <!-- Default style for other types of messages -->
                <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
            {% endif %}
                <div class="flex">
                    <div class="py-1">
                        <svg class="fill-current h-6 w-6 mr-4" 
                             xmlns="http://www.w3.org/2000/svg" 
                             viewBox="0 0 20 20">
                             <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                        </svg>
                    </div>
                    <div>
                        <p class="font-bold">{{ message }}</p>
                    </div>
                </div>
                </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
{% endif %}




  {% block content %}{% endblock %}


  <script>
    $(document).ready(function () {
        let userType = "{{ session['userType'] }}";

        function fetchNotifications() {
            $.getJSON("/api/get-notifications", function (data) {
                let notificationList = $("#notification-list");
                notificationList.empty();

                if (data.numberOfUnreadNotifications > 0) {
                    $("#notification-icon").find('.unread-dot').remove();
                    $("#notification-icon").append('<span class="absolute top-0 right-0 w-3 h-3 bg-red-500 rounded-full border-2 border-white unread-dot"></span>');
                } else {
                    $("#notification-icon").find('.unread-dot').remove();
                }

                if (data.notifications.length === 0) {
                    notificationList.append('<li class="px-4 py-2 text-center text-gray-500">No new notifications</li>');
                } else {
                    data.notifications.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));

                    data.notifications.forEach(function (notification) {
                        let notificationItem = `
                <li class="px-4 py-2 hover:bg-gray-200 notification-item ${!notification.isRead ? 'bg-gray-100' : ''}" data-id="${notification.id}" data-expanded="false">
                    <a href="${notification.url}">
                        <span class="line-clamp-1">${notification.message}</span>
                    </a>
                </li>`;
                        notificationList.append(notificationItem);
                    });
                }
            });
        }

        fetchNotifications();

        $("#notification-icon .fa-envelope").click(function () {
            $("#notification-dropdown").toggle();
        });

        $(document).on("click", function (event) {
            if (!$(event.target).closest("#notification-icon").length) {
                $("#notification-dropdown").hide();
            }
        });

        $(document).on('click', '.notification-item', function () {
            event.preventDefault();

            const notificationId = $(this).data('id');
            const isExpanded = $(this).data('expanded');

            if (isExpanded) {
                $(this).find('span').removeClass('line-clamp-none').addClass('line-clamp-1');
                $(this).data('expanded', false);
            } else {
                $(this).find('span').removeClass('line-clamp-1').addClass('line-clamp-none');
                $(this).data('expanded', true);
            }

            $.post('/api/mark-notification-read', { id: notificationId }, function (response) {
                if (response.success) {
                    fetchNotifications();
                }
            });
        });
    });

</script>
    

</body>

</html>