{% extends 'base.html' %}

{% block title %}Lincoln Cinema{% endblock %}

{% block content %}

<div class="rounded-lg shadow-md w-96 bg-gradient-to-br from-purple-100 via-blue-100 to-blue-200 p-10 mx-auto mt-12">
    <h1 class="text-2xl font-bold mb-5 text-gray-700">Login</h1>

    {% if error %}
    <div class="text-red-700 px-4 rounded relative mb-4" role="alert">
        <span class="block">{{ error }}</span>
    </div>
    {% endif %}

    {% if request.args.get('next') %}
    <div class="text-yellow-700 px-4 rounded relative mb-4" role="alert">
        <span class="block">Please log in to continue.</span>
    </div>
    {% endif %}

    <form action="{{ url_for('auth.login') }}" method="post" class="space-y-5">
        <div class="space-y-2">
            <label for="username" class="block text-sm font-medium text-gray-600">Username</label>
            <input id="username" name="username" type="text" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500">
        </div>

        <div class="space-y-2">
            <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
            <input id="password" name="password" type="password" required class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500">
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="text-red-700 px-4 rounded relative" role="alert">
                            Oops! {{ message }}
                        </div>
                    {% elif category == 'success' %}
                        <div class="text-green-700 px-4 rounded relative" role="alert">
                            {{ message }} Log in now!
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <button type="submit" class="w-full bg-indigo-500 text-white p-2 rounded hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Login</button>
    </form>
</div>

{% endblock %}
